body {
    background-color: #0f172a;
    color: white;
    font-family: sans-serif;
    text-align: center;
}
header { background: #1e293b; padding: 20px; }
.card {
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    border: 1px solid #38bdf8;
}
button {
    background: #38bdf8;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
